[Unit]
Description=udiskie automount daemon (removable media)
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/udiskie --smart-tray
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
